@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Formatting */
body {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  line-height: 1.5;
  color: #878787;
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.clear {
  clear: both;
}

.main {
}

/* Header */
.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
  z-index: 99999;
  padding: 0 20px;
}

/* optional: add a box-shadow for a subtle effect */
.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
}

.nav {
  display: none; /* hide the navigation by default */
}

/* show the navigation when the screen is wider than 768px */
@media (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
}

.nav li {
  display: inline-block;
  margin: 0 10px;
}

.nav li a {
  display: flex;
  align-items: center;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  padding: 0 10px;
  text-align: center;
  flex-grow: 1;
}

/* adjust the navigation links when the screen is wider than 768px */
@media (min-width: 768px) {
  .nav li a {
    font-size: 20px;
    padding: 0 20px;
  }
}

.nav li:hover a {
  background: linear-gradient(to right, #2673d7, #6ed0b6, #7adf4c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.language {
  justify-content: space-around;
  text-align: center;
  align-items: baseline;
}

.ai__banner__container {
  height: 700px;
  margin-top: 80px;
  position: relative;
  width: 100%;
  padding-top: 50%;
  background: url("/assets/img_dichvu/banner.jpg") top center / cover no-repeat;
  background-color: #333;
}
.ai__backgroundchandung img {
  position: absolute;
  top: 90px;
  width: 550px;
  left: 60px;
}

.ai__banner__container .ai__banner__content__container {
  position: absolute;
  top: 200px;
  left: 850px;
  width: 40%;
}

.ai__banner__container .ai__banner__content__container h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500px;
  font-size: 40px;
  line-height: 75px;

  color: #656669;
}

/* /body {
  margin: 0;
  padding: 0;
  height: 100vh;

} */

.cover {
  position: relative;
  width: 100%;
  padding-top: 50%;
  background: url("/assets/img_ai/background3.png") top center / cover no-repeat;
}

.wrapper {
  top: 0;
  position: absolute;
  width: 100%;
  display: flex;
}

.slider {
  width: 40%;
  height: 480px;
  border-radius: 10px;
  overflow: hidden;
  /* background-color: #656669; */
  margin-top: 140px;
  margin-left: 70px;
}

.slider li {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
}

.slider li a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;

  color: #656669;

  align-items: center;

  justify-content: center;
  text-align: center;
  flex-grow: 1;
  padding: 0 10px;
}

.slides {
  width: 500%;
  height: 400px;
  display: flex;
}

.slides input {
  position: absolute;
  bottom: 0;
  display: none;
}

.slide {
  display: flex;
  width: 20%;
  transition: 2s;
}

.slide__content {
  width: 100%;
  margin: 40px 60px 40px 0;
}

.label {
  color: #fff;
}

.slide__content {
  width: 45%;
  padding: 80px 80px 0 120px;
}

.slide__content h1 {
  font-family: "Work Sans";

  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 60px;

  background: linear-gradient(
    90deg,
    #2673d7 2.94%,
    #6ed0b6 58%,
    #7adf4c 109.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.slide__content h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
  background: linear-gradient(
    90deg,
    #2673d7 2.94%,
    #6ed0b6 58%,
    #7adf4c 109.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.slide__content p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #656669;
  width: 531px;
  height: 140px;
}

.slide img {
  width: 600px;
  height: 480px;
  justify-content: flex-start;
}

/* CSS FOR MANUAL SLIDE NAVIGATION */

.navigation-manual {
  display: none;
  position: absolute;
  width: 1250px;
  margin-top: -420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-btn {
  display: none;
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 100px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

/* CSS FOR AUTOMATIC SLIDE NAVIGATION */

.navigation-auto {
  display: none;
  position: absolute;
  display: flex;
  width: 1250px;
  justify-content: center;
  margin-top: -20px;
}

.navigation-auto div {
  display: none;
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 230px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #fff;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: #fff;
}

/* BEGIN DICH VU TAI SAO BAN CHON CHUNG TOI */

.ai__big__container {
  position: relative;
  width: 100%;
  height: 720px;
  background: url(/assets/img_dichvu1/background4.png) top center / cover
    no-repeat;
}

.ai__quytrinh__title {
  position: absolute;
  width: 600px;
  height: 160px;
  left: 550px;
  margin-top: 50px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 65px;

  /* aurora */
  background: linear-gradient(
    90deg,
    #2673d7 2.94%,
    #6ed0b6 58%,
    #7adf4c 109.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.ai__quytrinh__line {
  position: absolute;
  margin-top: 120px;
  left: 750px;
}
/* --------- */
.ai__big__container {
  width: 100%;
  /* height: 600px; */
  display: flex;
  justify-content: space-between;
}

.ai__container__left {
  position: absolute;
  top: 200px;
  left: 150px;
  width: 600px;
  height: 201px;
  filter: drop-shadow(8px 8px 50px rgba(38, 115, 215, 0.15));
  border: 1px solid black;
  border-image: linear-gradient(to right, #2673d7, #6ed0b6, #7adf4c) 1;
  background-color: #f5f6f8;

  box-sizing: border-box;
}
.ai__content__container__left h2 {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  background: linear-gradient(
    90deg,
    #2673d7 2.94%,
    #6ed0b6 58%,
    #7adf4c 109.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.ai__content__container__left p {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #656669;
}

.ai__img__container__left {
  position: absolute;
  width: 50%;
  bottom: 0;
  transform: translate3d(115%, 4%, 0);
}
.ai__img__container__left img {
  width: 255px;
  height: 199px;
}

.ai__content__container__left {
  margin-top: 10px;
  margin-left: 10px;
  width: 330px;
}
.ai__container__right {
  position: absolute;
  top: 200px;
  left: 850px;
  width: 600px;
  height: 201px;
  filter: drop-shadow(8px 8px 50px rgba(38, 115, 215, 0.15));
  border: 1px solid black;
  border-image: linear-gradient(to right, #2673d7, #6ed0b6, #7adf4c) 1;
  background-color: #f5f6f8;

  box-sizing: border-box;
}
.ai__content__container__right h2 {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  background: linear-gradient(
    90deg,
    #2673d7 2.94%,
    #6ed0b6 58%,
    #7adf4c 109.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.ai__content__container__right p {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #656669;
}

.ai__img__container__right {
  position: absolute;
  width: 50%;
  bottom: 0;
  transform: translate3d(115%, 4%, 0);
}
.ai__img__container__right img {
  width: 255px;
  height: 199px;
}

.ai__content__container__right {
  margin-top: 10px;
  margin-left: 10px;
  width: 330px;
}

.ai__container__botleft {
  position: absolute;
  top: 450px;
  left: 150px;
  width: 600px;
  height: 201px;
  filter: drop-shadow(8px 8px 50px rgba(38, 115, 215, 0.15));
  border: 1px solid black;
  border-image: linear-gradient(to right, #2673d7, #6ed0b6, #7adf4c) 1;
  background-color: #f5f6f8;

  box-sizing: border-box;
}
.ai__content__container__botleft h2 {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  background: linear-gradient(
    90deg,
    #2673d7 2.94%,
    #6ed0b6 58%,
    #7adf4c 109.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.ai__content__container__botleft p {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #656669;
}

.ai__img__container__botleft {
  position: absolute;
  width: 50%;
  bottom: 0;
  transform: translate3d(115%, 4%, 0);
}
.ai__img__container__botleft img {
  width: 255px;
  height: 199px;
}

.ai__content__container__botleft {
  margin-top: 10px;
  margin-left: 10px;
  width: 330px;
}

.ai__container__botright {
  position: absolute;
  top: 450px;
  left: 850px;
  width: 600px;
  height: 201px;
  filter: drop-shadow(8px 8px 50px rgba(38, 115, 215, 0.15));
  border: 1px solid black;
  border-image: linear-gradient(to right, #2673d7, #6ed0b6, #7adf4c) 1;
  background-color: #f5f6f8;
  box-sizing: border-box;
}

.ai__content__container__botright h2 {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  background: linear-gradient(
    90deg,
    #2673d7 2.94%,
    #6ed0b6 58%,
    #7adf4c 109.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.ai__content__container__botright p {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #656669;
}

.ai__img__container__botright {
  position: absolute;
  width: 50%;
  bottom: 0;
  transform: translate3d(115%, 4%, 0);
}
.ai__img__container__botright img {
  width: 255px;
  height: 199px;
}

.ai__content__container__botright {
  margin-top: 10px;
  margin-left: 10px;
  width: 330px;
}

.ai__container__botright {
  box-shadow: 0 0 #444444;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.ai__container__botright:hover {
  box-shadow: 3px 5px 10px #444444;
}
.ai__container__botleft {
  box-shadow: 0 0 #444444;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.ai__container__botleft:hover {
  box-shadow: 3px 5px 10px #444444;
}
.ai__container__right {
  box-shadow: 0 0 #444444;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.ai__container__right:hover {
  box-shadow: 3px 5px 10px #444444;
}
.ai__container__left {
  box-shadow: 0 0 #444444;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.ai__container__left:hover {
  box-shadow: 3px 5px 10px #444444;
}

.footer {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0px;
  background: url("/assets/img/footer.png") top center / cover no-repeat;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  height: 270px;
  gap: 12px;
  justify-content: space-between;
}

.footer-logo__wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 80%);
  height: 294px;
  gap: 24px;
}

.footer-logo__wrapper .footer-logo__img {
  background: url(./../img/logo.png) center / contain no-repeat;
  width: 200px;
  height: 210px;
}
.list-footer-dv ul {
  list-style: none;
}
.list-footer-gp ul {
  list-style: none;
}
.footer-logo__wrapper .footer-copyright {
  width: 343px;
  height: 22px;
  font-family: "Work Sans";
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding-left: 12px;
}

.footer-workinginfo__wrapper {
  position: absolute;
  left: calc(50% - 32%);
  top: 40px;
  width: 363px;
  height: 142px;
}

.footer-workinginfo-col {
  display: flex;
  justify-content: left;
  height: 35px;
  width: 330px;
  gap: 16px;
  margin-bottom: 10px;
}

.footer-workinginfo-col .workinginfo-time-logo,
.footer-workinginfo-col .workinginfo-phone-logo,
.footer-workinginfo-col .workinginfo-mail-logo {
  width: 30px;
  height: 25px;
}

.workinginfo-time-logo {
  background: url(./../img/clock_footer.png) center / contain no-repeat;
}

.workinginfo-phone-logo {
  background: url(./../img/phone.png) center / contain no-repeat;
}

.workinginfo-mail-logo {
  background: url(./../img/mail.png) center / contain no-repeat;
  position: relative;
}

.workinginfo-mail-logo::before {
  content: "";
  background: url(./../img/mail_border.png) center/ cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* working info text */
.workinginfo-time-detail {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #fff;
}

.workinginfo-phone-detail a {
  font-family: "Work Sans";
  padding-top: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #fff;
  text-decoration: underline;
}
.workinginfo-mail-detail {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-decoration: none;
  /* color: rgba(0, 0, 0, 0.7); */
}

.footer-social-contact__wrapper {
  display: flex;
  gap: 42px;
  /* margin-top: 20px; */
}

.social-contact-circle {
  position: relative;
  width: 35px;
  height: 35px;
  background: url(./../img/circle.png) center / cover no-repeat;
}

.social-contact-circle .contact-facebook-icon,
.social-contact-circle .contact-twitter-icon,
.social-contact-circle .contact-instagram-icon {
  display: block;
  position: absolute;
  width: 12px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: center/ contain no-repeat;
}

.social-contact-circle .contact-facebook-icon {
  background-image: url(./../img/fb_icon.png);
}

.social-contact-circle .contact-twitter-icon {
  background-image: url(./../img/twitter_icon.png);
}

.social-contact-circle .contact-instagram-icon {
  background-image: url(./../img/instagram_icon.png);
}

.footer .footer-background-wrapper {
  width: calc(100% - 700px);
  height: 270px;
  background: url(./../img/footer_background.png) top/ contain no-repeat;
}

.footer {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0px;
  background: url("/assets/img/footer.png") top center / cover no-repeat;
}
.footer-logo__wrapper hr {
  position: absolute;
  left: 100px;
  right: 12.71%;
  top: 80.33%;
  bottom: 50px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.15;
  border: 1px solid #ffffff;
}

.footer-wrapper {
  display: flex;
  width: 500px;
  height: 200px;
  gap: 12px;
  justify-content: space-between;
}
.footer-logo__wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 400px;
  gap: 30px;
}
.footer-copyright {
  position: absolute;
  width: 100%;
  height: 26px;
  left: 600px;
  bottom: 30px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer-logo__wrapper .footer-logo__img {
  background: url(./../img/logo.png) center / contain no-repeat;
  width: 200px;
  height: 210px;
}

.list-footer-dv {
  position: absolute;
  height: 280px;
  left: 48%;
  right: 30.47%;
  top: 30px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300px;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.list-footer-dv h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  color: #ffffff;
}
.footer-workinginfo-col {
  display: flex;
  justify-content: left;
  height: 40px;
  width: 330px;
  gap: 16px;
  margin-bottom: 30px;
}
.footer-workinginfo__wrapper {
  position: absolute;
  width: 377px;
  height: 176.51px;
  left: 350px;
  top: 85px;
  color: #ffffff;
}
.list-footer-gp {
  position: absolute;
  height: 280px;
  left: 73%;
  right: 0;
  top: 30px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.list-footer-gp h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  color: #ffffff;
}
.content-footer-ab {
  width: 280px;
  height: 70px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 1;
  gap: 16px;
}
.content-footer-ab h3 {
  position: absolute;
  height: 28px;
  left: 2%;
  right: 88.85%;
  top: 190px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}
.workinginfo-phone-detail {
  margin-left: 8px;
}
/* .social-contact-fb {
  position: absolute;
  top: 25px;
  left: 50px;
}
.social-contact-ins {
  position: absolute;

  right: 0px;
  top: 25px;
}
.social-contact-tw {
  position: absolute;
  left: 10px;
} */

.social__icon {
  position: absolute;
  width: 200px;
  height: 100px;
  right: 180px;
  bottom: 80px;
}
.social_text {
  margin-left: 55px;
  top: 10px;
  color: #ffffff;
  font-size: 12px;
}
